.footer {
  background-color: $darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  &__list-category {
    padding: 60px 15px 45px;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    justify-content: center;
    gap: 30px;
  }
}

.footer__icon-arrow {
  @include flexCentered();
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 5;
  @keyframes rotate {
    0% {
      transform: rotate(40deg) translate(0, -50%);
    }
    10% {
      transform: rotate(70deg) translate(0, -50%);
    }
    20% {
      transform: rotate(100deg) translate(0, -50%);
    }
    30% {
      transform: rotate(130deg) translate(0, -50%);
    }
    40% {
      transform: rotate(170deg) translate(0, -50%);
    }
    50% {
      transform: rotate(200deg) translate(0, -50%);
    }
    60% {
      transform: rotate(240deg) translate(0, -50%);
    }
    70% {
      transform: rotate(270deg) translate(0, -50%);
    }
    80% {
      transform: rotate(300deg) translate(0, -50%);
    }
    90% {
      transform: rotate(340deg) translate(0, -50%);
    }
    100% {
      transform: rotate(360deg) translate(0, -50%);
    }
  }
}

.footer__div {
  text-transform: lowercase;
  font-size: 14px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  margin-bottom: 45px;
  @media (min-width: 768px) {
    text-align: left;
    margin-top: 0px;
    width: 160px;
  }
}

.footer__icon-heart {
  color: $orange;
  padding-right: 3px;
}

@media (min-width: 768px) {
  .footer__nav-rrss {
    width: 160px;
    order: 3;
    text-align: left;
  }
  .footer__nav-category {
    width: 160px;
    order: 2;
    text-align: left;
  }
}
