.main {
    padding: 30px 15px 45px;
}

.article {
  display: flex;
  flex-direction: column;
  font-family: $mainfont;
  
  &__category {
    font-size: 14px;
    color: $liblue;
    font-weight: 400;
    line-height: 30px;
  }
  &__title {
    @include title();
  }

  &__text {
    @include text();
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  &__button {
  @include button();
    color: $orange;
    border: $orange 2px solid;
    background-color: white;
  }
}
