.main {
    padding: 30px 15px 45px;
    @media (min-width: 768px){
      padding: 30px 40px 60px;
      @media (min-width: 1200px){
        padding: 60px 275px 60px;
      }
    }
}

.article {
  display: flex;
  flex-direction: column;
  font-family: $mainfont;
  
  &__category {
    font-size: 14px;
    color: $liblue;
    font-weight: 400;
    line-height: 30px;
  }
  &__title {
    @include title();
    @media (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__text {
    @include text();
    color: #4a4a4a;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  &__button {
  @include button();
    color: $orange;
    border: $orange 2px solid;
    background-color: white;
  }
}
